body{
    background-color :rgb(245, 233, 218);
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(243, 213, 130);
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(105, 110, 110);
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  li a:hover {
    background-color:   rgb(21, 248, 248);
  }

 
  .one{
    list-style: none;
    display: flex;
    justify-content:flex-end;
  }
  .one li a{
    color: rgb(20, 18, 18);
    background-color: powderblue;
  }
.container-register {
    width: 500px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
}
input[type="text"],
input[type="Password"],
input[type="email"],
input[type="date"]{
    padding: 8px;
    margin: 10px 0;
}
h3 {
    text-align: center;
    color: teal;
    text-transform: uppercase;
}
input[type="text"]{
    width: 227px;
}
input[type="password"]{
    width: 227px;
}
input[type="date"]{
    width: 480px;
}
input[type="file"]{
    padding: 1px;
}
select {
    width: 495px;
    padding: 10px;
}

.login{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  height: 90vh;
}
.submit a{
  background-color: powderblue;
  width: 98%;
  padding: 5px;
  margin:0;
  font-size: 30px;
  color: rgb(11, 138, 95);
}

.footer{
  background: rgb(247, 241, 188);
  text-align: center;
  font-size: 20px;
  color: blue;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.touch{
  background-image: url(6.jpg);
}

.box-content {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 20px;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  
}

.serve {
  grid-column: 1 / 3;
  text-align: center;

}
.serve-one br5 {
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.show img{
  width: 60%;
  height: 20%;
  border-radius: 100%;
  padding: 10px;
  margin: 10px;
}

.serve-two br5{
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
.seconder {
  display: flex;
  justify-content: center;
  justify-content: end;
}

.srey-touch{
  padding: 70px;
  margin: 20px;
  height: 20vh;
  color:rgb(37, 36, 36);
}
p{
  color: rgb(130, 76, 161);
}
h1{
  color: rgb(31, 30, 30);
}
