body{
    background-color: rgb(245, 233, 218);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(243, 213, 130);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(105, 110, 110);
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  li a:hover {
    background-color: rgb(21, 248, 248);
  }
  .containner {
    width:75%;
    height: 120vh;
    margin: 0 auto;
    background: url(/image/1.jpg)no-repeat;
    color: rgb(9, 10, 10);

  }
  .containner p{
      padding: 5px;
      margin: 10px;
  }
  h1{
      text-align: center;
  }
  
  .seconder{
    padding: 10px;
    margin: 10px;
  }

  .Three{
      width: 100%;
      background:url(/image/4.jpg)navajowhite;
      color: rgb(22, 22, 21);
      text-align: center;
  }
p{
    margin: 10px;
    padding: 10px;
    font-size: 17px;
}
h2{
    margin-left: 10px;
    color: olivedrab;
    
}
h3{
    padding: 10px;
    margin: 5px;
}

.active {
  background-color: #4CAF50;
}


.grid-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-gap:10px;
}
.item{
  background:turquoise;
  color:rgb(247, 85, 10);
  font-size: 40px;
  padding: 10px;
  text-align: center;
  text-align: none;
}
.box-content {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 20px;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;

}

.serve {
  grid-column: 1 /4;
  text-align: center;

} 
.serve-three{
  width: 100%;
  margin: 0 auto;
  bottom: url(/image/7.webp)navajowhite;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  height: 100vh;
}
.footer{
  background: rgb(247, 241, 188);

  text-align: center;
  font-size: 20px;
  color: blue;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
